@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #fff;
  line-height: 1.6;
  /*//satir yüksekligi */
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* navbar */

.navbar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: var(--dark);
  opacity: 0.8;
  color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 3rem;
}
.navbar a {
  color: var(--white);
  padding: 1rem 2rem;
  margin: 0 0.5rem;
}
.navbar a:hover {
  border-bottom: 2px solid var(--warning);
}
.navbar ul {
  display: flex;
}
.navbar .brand {
  font-weight: 400;
}
.navbar h1 {
  font-size: 3rem;
}
.navbar span {
  color: var(--warning);
}

/* header */

.main-header {
  background-image: url(../img/bg-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  position: relative;
}
.main-header.blogs {
  background-image: url(../img/bg-2.jpeg);
  height: 70vh;
}
.main-header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.main-header * {
  z-index: 5;
}

.main-header .content h1 {
  font-size: 4.5rem;
}
.main-header .content p {
  font-size: 2.3rem;
  max-width: 60rem;
  margin: 2rem 0 3rem;
}

/* icons */
.icons {
  padding: 30px;
}
.icons h3 {
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--white);
}

.icons i {
  background-color: var(--dark);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
}

/* #about h2 p tarzı etiketler buraya yazılır*/
#about {
  color: #fff;
}

#about h2 {
  font-size: 4rem;
  font-weight: 500;
}
#about p {
  margin: 20px 0;
}

/* gallery */

.gallery img:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* cards */
.card {
  color: #fff;
  font-weight: 700;
}
.card-body {
  padding: 2rem;
}

/* contact */
.contact h2 {
  font-size: 40px;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-left: 2rem;
}
.contact-form {
  width: 100%;
  padding: 1rem 2rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
}
.contact-form .form-control {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.contact-form input {
  width: 100%;
  padding: 5px;
  height: 40px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}
.contact-form .btn {
  margin-top: 12px;
  margin-left: 5px;
}

/* article */
.article {
  padding: 3rem 5rem;
  color: #f5f5f5;
}

/* footer */
.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer a {
  color: var(--primary);
}

.footer a:hover {
  color: var(--success);
  opacity: 0.7;
}
.footer .social a {
  margin-right: 10px;
}

/* mobile */
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .navbar {
    flex-direction: column;
    padding: 20px;
    height: 120px;
  }
  .navbar a {
    padding: 10px;
    margin: 0 3px;
  }
}
